body {
    background: rgb(89,246,73);
background: linear-gradient(45deg, rgba(89,246,73,1) 10%, rgba(80,250,247,1) 100%);

}
.calculadora-imc {
background-color: #00BFA5;

}



.principal {
    margin-bottom: 22vh;
}


@media (max-width: 700px) {
.calculadora-imc {
    width: 50vw;
}
@media (max-width: 500px) {
    .calculadora-imc {
    width: 70vw;
    margin: auto;
    margin-left: 5vw;
    }
}
}
